In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

Matplotlib is building the font cache; this may take a moment.

In [281]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1424,tt0369226,20000000,10442808,Alone in the Dark,Christian Slater|Tara Reid|Stephen Dorff|Frank...,Uwe Boll,Can mankind defeat the army of darkness unleas...,Edward Carnby is a private investigator specia...,96,Action|Fantasy|Horror|Thriller,Boll Kino Beteiligungs GmbH & Co. KG|Brightlig...,1/28/2005,3.5,2005
1653,tt0338325,20000000,16605763,Paparazzi,Cole Hauser|Robin Tunney|Dennis Farina|Daniel ...,Paul Abascal,One good shot deserves another.,A rising Hollywood actor decides to take perso...,84,Action|Drama|Thriller,20th Century Fox,9/3/2004,5.9,2004
593,tt0246544,40000000,27053815,The Musketeer,Catherine Deneuve|Mena Suvari|Stephen Rea|Tim ...,Peter Hyams,As you've never seen it before.,In Peter Hyams's adaptation of the famous Alex...,104,Action|Adventure|Drama,Crystal Sky Worldwide|MDP Worldwide|ApolloMedi...,9/7/2001,5.1,2001
916,tt0303714,12000000,75781642,Barbershop,Ice Cube|Anthony Anderson|Cedric the Entertain...,Tim Story,Everyone's gettin' lined up.,A day in the life of a barbershop on the south...,102,Comedy|Drama,Metro-Goldwyn-Mayer (MGM),4/1/2002,6.2,2002
732,tt1568346,90000000,232617430,The Girl with the Dragon Tattoo,Daniel Craig|Rooney Mara|Christopher Plummer|G...,David Fincher,Evil shall with evil be expelled.,This English-language adaptation of the Swedis...,158,Thriller|Crime|Mystery|Drama,Columbia Pictures|Scott Rudin Productions|Film...,12/14/2011,7.1,2011

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [314]:
answers = {'1':'723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
           '2':'1157. Gods and Generals (tt0279111)',
           '3':'768. Winnie the Pooh (tt1449283)',
           '4':'110',
           '5':'107',
           '6':'239. Avatar (tt0499549)',
           '7':'1245. The Lone Ranger (tt1210819)',
           '8':'1478',
           '9':'599. The Dark Knight (tt0468569)',
           '10':'1245. The Lone Ranger (tt1210819)',
           '11':'Drama',
           '12':'Drama',
           '13':'Peter Jackson',
           '14':'Robert Rodriguez',
           '15':'Chris Hemsworth',
           '16':'Matt Damon',
           '17':'Action',
           '18':'925. K-19: The Widowmaker (tt0267626)',
           '19':'2015',
           '20':'2014',
           '21':'Сентябрь',
           '22':'450',
           '23':'Peter Jackson',
           '24':'Four By Two Productions',
           '25':'Universal Pictures',
           '26':'Inside Out, The Dark Knight, 12 Years a Slave',
           '27':'Daniel Radcliffe, Rupert Grint'
          } 
           
           # создадим словарь для ответов
answers
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# определяем функцию для новой колонки расчета выручки по каждому фильму
def profit(row):
    profits = row['revenue'] - row['budget']
    return profits

data1['profit'] = data.apply(profit, axis = 1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [24]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
answer1 = data[data['budget'] == data['budget'].max()]
answer1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [25]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [31]:
answer2 = data[data['runtime'] == data['runtime'].max()]
answer2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [33]:
# еще один вариант ответа
answer = data[(data['imdb_id'] == 'tt0167260')|(data['imdb_id'] == 'tt0279111')|(data['imdb_id'] == 'tt0360717')
              |(data['imdb_id'] == 'tt0213149')|(data['imdb_id'] == 'tt0346491')]
answer2 = answer[answer['runtime'] == answer['runtime'].max()]
answer2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [32]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [34]:
answer3 = data[data['runtime'] == data['runtime'].min()]
answer3

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '110'

In [35]:
answer4 = data['runtime'].mean()
answer4

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '107'

In [36]:
answer5 = data['runtime'].median()
answer5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
answers['6'] = '239. Avatar (tt0499549)'

In [41]:
def profit(row):
    profits = row['revenue'] - row['budget']
    return profits

data1['profit'] = data.apply(profit, axis = 1)
answer6 = data1[data1['profit'] == data1['profit'].max()]
answer6

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [42]:
answer7 = data1[data1['profit'] == data1['profit'].min()]
answer7

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1478'

In [48]:
answer8 = data1[data1['profit'] > 0]
answer8

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [55]:
release_year_2008 = data1[data1['release_year'] == 2008] # сначала создаем базу данных с выпуском фильмов 2008г.
answer9 = release_year_2008[release_year_2008['profit'] == release_year_2008['profit'].max()]
answer9

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [60]:
release_year_2012_2014 = data1[(data1['release_year'] >= 2012)&(data1['release_year'] <= 2014)]
answer10 = release_year_2012_2014[release_year_2012_2014['profit'] == release_year_2012_2014['profit'].min()]
answer10

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
answers['11'] = 'Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [111]:
df2 = data.genres.str.split('|') # делаем series из столбца 'genres' 
df3 = df2.explode('genres') # применяем explode к столбцу 'genres', чтобы в каждой ячейке было по одному жанру
df3.value_counts() # выводим количество жанров

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [84]:
action = data[data.genres.str.contains("Action", na=False)]
action
adventure = data[data.genres.str.contains("Adventure", na=False)]
adventure
drama = data[data.genres.str.contains("Drama", na=False)]
drama
comedy = data[data.genres.str.contains("Comedy", na=False)]
comedy
thriller = data[data.genres.str.contains("Thriller", na=False)]
thriller

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,7.2,2015,397950503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863,tt0219653,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,12/22/2000,4.7,2000,5000337
1865,tt0161081,100000000,155464351,What Lies Beneath,Harrison Ford|Michelle Pfeiffer|Diana Scarwid|...,Robert Zemeckis,He was the perfect husband until his one mista...,When Claire Spencer starts hearing ghostly voi...,130,Drama|Horror|Mystery|Thriller,DreamWorks SKG|Twentieth Century Fox Film Corp...,7/21/2000,6.1,2000,55464351
1873,tt0160009,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,8/23/2000,5.7,2000,-9800895
1878,tt0176783,14000000,5108820,Gossip,Joshua Jackson|James Marsden|Kate Hudson|Lena ...,Davis Guggenheim,"It can turn you on, or turn on you.","On a beautiful college campus, something ugly ...",90,Drama|Mystery|Thriller,Warner Bros. Pictures,4/21/2000,5.3,2000,-8891180
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama'

In [113]:
# выше я уже создал DataFrame data1 со столбцом profit 
profit_film = data1[data1.profit > 0]
df2 = profit_film.genres.str.split('|') # делаем series из столбца 'genres' 
df3 = df2.explode('genres') # применяем explode к столбцу 'genres', чтобы в каждой ячейке было по одному жанру
df3.value_counts() # выводим количество жанров

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson'

In [124]:
data.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = 'Robert Rodriguez'

In [138]:
data_action = data[data.genres.str.contains("Action", na=False)].copy() # выделяем фильмы в жанре Action
data_action.director = data_action.director.str.split('|') 
data_action = data_action.explode('director') # разбиваем колонку режиссеров, если у фильма их несколько
data_action.groupby(['director']).director.count().sort_values(ascending=False) # определяем режиссера, 
                    # снявшего больше всего фильмов в жанре Action

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Whitesell        1
Brian A Miller        1
Jon Amiel             1
Jon Avnet             1
Luis Mandoki          1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = 'Chris Hemsworth'

In [164]:
data_2012 = data[data['release_year'] == 2012].copy() # формируем базу данных фильмов 2012 года выпуска
data_2012.cast = data_2012.cast.str.split('|')
data_actors = data_2012.explode('cast') # разбиваем колонку актеров
data_actors.groupby(['cast']).revenue.sum().sort_values(ascending=False) # определяем актера, фильмы с которым 
                     # принесли самые высокие кассовые сборы

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = 'Matt Damon'

In [167]:
data_high_budget = data[data['budget'] >= data['budget'].mean()].copy() # формируем базу высокобюджетных фильмов
data_high_budget.cast = data_high_budget.cast.str.split('|')
data_actors = data_high_budget.explode('cast') # разбиваем колонку актеров
data_actors.groupby(['cast']).cast.count().sort_values(ascending=False).sort_values(ascending=False) # определяем  
                   # актера, снявшегося в большем количестве высокобюджетных фильмов

cast
Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
                           ..
Ted Levine                  1
Richard Gant                1
Taylor Swift                1
Taylor Momsen               1
Ã“lafur Darri Ã“lafsson     1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = 'Action'

In [247]:
data_Nicolas_Cage = data[data.cast.str.contains("Nicolas Cage", na=False)].copy() # формируем базу актёра
df2 = data_Nicolas_Cage.genres.str.split('|') # делаем series из столбца 'genres' 
df3 = df2.explode('genres') # применяем explode к столбцу 'genres', чтобы в каждой ячейке было по одному жанру
df3.value_counts() # выводим количество жанров

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [176]:
# выше я уже создал DataFrame data1 со столбцом profit 
data_Paramount = data1[data1.production_companies.str.contains("Paramount Pictures", na=False)].copy() 
              # формируем базу фильмов производства Paramount Pictures
data_Paramount_min = data_Paramount[data_Paramount.profit == data_Paramount.profit.min()] 
data_Paramount_min

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '2015'

In [178]:
data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '2014'

In [181]:
# выше я уже создал DataFrame data1 со столбцом profit 
data_Warner = data1[data1.production_companies.str.contains("Warner Bros", na=False)].copy() 
              # формируем базу фильмов производства Warner Bros
data_Warner.groupby(['release_year']).profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = 'Сентябрь'

In [184]:
data['month'] = pd.to_datetime(data.release_date).dt.month #преобразуем дату в год-месяц-число
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '450'

In [189]:
data['month'] = pd.to_datetime(data.release_date).dt.month #преобразуем дату в год-месяц-число
data_summer = data[(data['month'] == 6) | (data['month'] == 7) | (data['month'] == 8)] # создаем базу летних фильмов
data_summer['month'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'

In [194]:
data['month'] = pd.to_datetime(data.release_date).dt.month #преобразуем дату в год-месяц-число
data_winter = data[(data['month'] == 12) | (data['month'] == 1) | (data['month'] == 2)].copy() 
                    # создаем базу зимних фильмов
data_winter.director = data_winter.director.str.split('|')
data_winter_directors = data_winter.explode('director') # разбиваем колонку режиссеров
data_winter_directors.groupby(['director']).cast.count().sort_values(ascending=False) # определяем  
                   # режиссера, выпустившего зимой наибольшее количество фильмов

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
John Luessenhop      1
John Musker          1
John Polson          1
Callan Brunker       1
Xavier Palud         1
Name: cast, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = 'Four By Two Productions'

In [285]:
data = pd.read_csv('movie_bd_v5.csv')
data.production_companies = data.production_companies.str.split('|')
data_companies = data.explode('production_companies') # разбиваем колонку компаний
data_companies['length'] = data_companies['original_title'].str.len() # дополняем базу колонкой с количеством 
               # символов в названиях фильмов
data_companies.groupby(['production_companies']).length.mean().sort_values(ascending=False) # определяем  
                   # студию с самыми длинными названиями фильмов, исходя из среднего количества символов

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Universal Pictures'

In [313]:
from collections import Counter
import itertools as it
from itertools import combinations

data = pd.read_csv('movie_bd_v5.csv')
data.production_companies = data.production_companies.str.split('|')
data_companies = data.explode('production_companies') # разбиваем колонку компаний

data_companies['overview'] = data_companies['overview'].str.split(' ') # разбиваем колонку на отдельные слова 

data_companies.groupby(['production_companies']).overview.count().sort_values(ascending=False).head(20) # определяем  
                   # студию с наибольшим количеством слов в описании фильмов

production_companies
Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
Relativity Media                           99
New Line Cinema                            88
Walt Disney Pictures                       82
Village Roadshow Pictures                  63
DreamWorks SKG                             62
Touchstone Pictures                        58
Regency Enterprises                        49
Metro-Goldwyn-Mayer (MGM)                  48
Columbia Pictures Corporation              47
Dune Entertainment                         44
Summit Entertainment                       41
Miramax Films                              39
Dimension Films                            37
Lionsgate                                  35
Fox 2000 Pictures                          35
Name: overview, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [307]:
data['vote_average'].quantile([.99]) # сначала определим, какой рейтинг входит в 1 процент самых высоких оценок
                          # эта оценка составляет не менее 7.8
data_best_films = data[data.vote_average >= 7.8] # для удобства создадим базу данных лучших фильмов
data_best_films.groupby(['original_title']).vote_average.sum().sort_values(ascending=False) 
            # смотрим рейтинг лучших фильмов

original_title
The Dark Knight                                      8.1
Room                                                 8.0
Interstellar                                         8.0
The Imitation Game                                   8.0
Inside Out                                           8.0
The Wolf of Wall Street                              7.9
The Pianist                                          7.9
The Lord of the Rings: The Return of the King        7.9
The Grand Budapest Hotel                             7.9
Memento                                              7.9
12 Years a Slave                                     7.9
Inception                                            7.9
Guardians of the Galaxy                              7.9
Gone Girl                                            7.9
3 Idiots                                             7.8
Spotlight                                            7.8
Her                                                  7.8
The Fault in Our Stars                               7.8
Prisoners                                            7.8
Mr. Nobody                                           7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Eternal Sunshine of the Spotless Mind                7.8
The Lord of the Rings: The Two Towers                7.8
Dallas Buyers Club                                   7.8
The Prestige                                         7.8
The Theory of Everything                             7.8
Big Hero 6                                           7.8
There Will Be Blood                                  7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [296]:
from collections import Counter
import itertools as it
from itertools import combinations

data = pd.read_csv('movie_bd_v5.csv')
data_cast = data.copy()  
data_cast['cast'] = data_cast['cast'].str.split('|') # разбиваем колонку актеров на отдельные имена 
data_cast['cast'] = data_cast['cast'].apply(lambda x: tuple(it.combinations(sorted(x),2))) # ищем повторяющиеся 
            # сочетания двух актеров  
data_cast['cast'].explode().value_counts() #

(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
                                      ..
(Chevy Chase, Kevin Zegers)            1
(Bill Paxton, Mark Wahlberg)           1
(Edgar RamÃ­rez, Ralph Fiennes)        1
(Kathryn Newton, Sprague Grayden)      1
(Brendan Gleeson, Katarina Cas)        1
Name: cast, Length: 17943, dtype: int64

ВАРИАНТ 2

# Submission

In [315]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Universal Pictures',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [316]:
# и убедиться что ни чего не пропустил)
len(answers)

27